
.rs {   
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:$font;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00ADB5;
    transition: 0.5s;
    .rs__formRp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 50%;
        background-color: #EEEEEE;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 45px rgba(0,0,0,0.25);
        transition: 0.5s ease-in-out;
        overflow: hidden;
        border-radius: 10px;
        .form{
            position: absolute;
            left: 0;
            width: 100%;
            padding: 50px;
            transition: 0.5s;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                &.none {
                    display: none;
                }
                input{
                    width: 100%;
                    margin-bottom: 5px;
                    padding: 10px;
                    outline: none;
                    font-size: 15px;
                    border: 1px solid $bg-color;
                    border-radius: 10px;
                }
                h3 {
                    color: #393E46;
                    font-size: 20px;
                    font-weight: 500;
                    border: #2f3542;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 15px;
                    color: #393E46;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                button {
                    position: relative;
                    cursor: pointer;
                    padding: 7px 20px;
                    color: #393E46;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 10px 0;
                    border: 1px solid #00ADB5;   
                    border-radius: 10px;     
                   &:hover {
                       background-color: #00ADB5;
                       color: white;
                   }
                   &.cancel{
                       margin-left: 30px;
                       width: 100px;
                   } 
                }
                .form-message {
                    font-size:  14px;
                    color: rgb(247, 25, 25);
                    margin-bottom: 5px;
                    &.last{
                       position: absolute;
                       right: 100px;
                    }
                }        
            }

        }  
    }
}